<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Ingredients</th>
      <th scope="col">Instructions</th>
      <th scope="col">Notes</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{recipe.id}}</th>
      <td>{{recipe.title}}</td>
      <td>{{recipe.ingredients}}</td>
      <td>{{recipe.instructions}}</td>
      <td>{{recipe.notes}}</td>
      <td><button type="button" class="btn btn-dark delete" id={{recipe.id}}>Delete</button></td>
    </tr>
  </tbody>
</table>
